:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --text-color-darck: #000000;
  --text-color-light: #ffffff;
  --section-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

body {
  font-family: var(--primary-font-family);

  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ================= COMPONENTS ================= */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.site-logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-first-part {
  color: var(--accent-color);
}

/* ================= /COMPONENTS ================= */

/* ================= HEADER ================= */

.logo-second-part {
  color: var(--text-color-darck);
}

.menu-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.menu-list-link:hover,
.menu-list-link:focus {
  color: var(--accent-color);
}

.menu-list-link.curent {
  color: var(--accent-color);
}

.contacts-header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.contacts-header-link:hover,
.contacts-header-link:focus {
  color: var(--accent-color);
}

/* ================= /HEADER ================= */

/* ================= HERO ================= */

.hero {
  background-color: #2f303a;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-color-light);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--text-color-light);
  background-color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color-hover);
}

/* .btn:active {

} */

/* ================= /HERO ================= */

/* ================= FEATURES ================= */

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* ================= /FEATURES ================= */

/* ================= OUR TEAM ================= */

.team {
  background: var(--section-background-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-role {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* ================= /OUR TEAM ================= */

/* ================= FOOTER ================= */

.footer {
  background-color: var(--footer-background-color);
}

.logo-second-part-footer {
  color: var(--text-color-light);
}

.contacts-link-address,
.contacts-link-phone,
.contacts-link-email {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-link-address:hover,
.contacts-link-address:focus,
.contacts-link-phone:hover,
.contacts-link-phone:focus,
.contacts-link-email:hover,
.contacts-link-email:focus {
  color: var(--accent-color);
}

.contacts-link-address {
  color: var(--text-color-light);
}

.contacts-link-phone,
.contacts-link-email {
  color: rgba(255, 255, 255, 0.6);
}

/* ================= /FOOTER ================= */

/* ================================================== */
/* ================= PORTFOLIO PAGE ================= */

.projects-btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--primary-text-color);
  background-color: #F5F4FA;
}

.projects-btn-filter:hover,
.projects-btn-filter:focus {
  color: var(--text-color-light);
  background-color: var(--accent-color);
}



.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.projects-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.projects-list-link:hover,
.projects-list-link:focus,
.projects-title:hover,
.projects-title:focus,
.projects-type:hover,
.projects-type:focus {
  color: var(--accent-color);
}
/* ================= PORTFOLIO PAGE ================= */
